---
import BaseHead from 'components/BaseHead.astro';
import Footer from 'components/Footer.astro';
import Header from 'components/Header.astro';
import { getUniqueTagsFromPosts } from 'utils/tags';
import { getAllPosts } from 'utils/posts';

export async function getStaticPaths() {
    const allPosts = await getAllPosts();
    const uniqueTags = getUniqueTagsFromPosts(allPosts);

    return uniqueTags.map(tag => {
        const filteredPosts = allPosts.filter(post => post.data.tags?.includes(tag));
        return {
            params: { tag: tag.toLowerCase() },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={tag} description={`All content that has the "${tag}" tag`} />
    </head>
    <body>
        <Header />
        <main>
            <p>Posts tagged with {tag}</p>
            <section>
                <ul>
                    {
                        posts.map(post => (
                            <li>
                                <a href={`/${post.collection}/${post.slug}`}>{post.data.title}</a>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
        <Footer />
    </body>
</html>
